BANK_OF_MUM_DATA_ROOT=data-v2
BANK_OF_MUM_LEGACY_DATA_ROOT=../data
BANK_OF_MUM_CORS_ORIGINS=http://localhost:5075,http://127.0.0.1:5075
BANK_OF_MUM_OLLAMA_URL=http://192.168.1.249:11434
BANK_OF_MUM_OLLAMA_MODEL=qwen3:14b
