{% extends 'layout.html' %}
{% block content %}
<h1>Edit Payment for {{ loan.child }}</h1>
<form method="post">
  <div class="mb-3">
    <label for="date" class="form-label">Date</label>
    <input id="date" type="date" name="date" value="{{ payment.date }}" class="form-control">
  </div>
  <div class="mb-3">
    <label for="amount" class="form-label">Amount</label>
    <input id="amount" type="number" step="0.01" name="amount" value="{{ '%.2f'|format(payment.amount) }}" required class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}

